<form action='request_service'>
<div class='section'>
  <span class='title-3'>How can we help you?</span>
</div>
<div class='section'>
  <div class='row prblm-row'>
    <div class='column column-units-3'>
      <div class='box'>
        <a href='#' class='box-text'>Tap broken/leaking</a>
      </div>
    </div>
    <div class='column column-units-3'>
      <div class='box'>
        <a href='#' class='box-text'>Clogged kitchen drains</a>
      </div>
    </div>
    <div class='column column-units-3'>
      <div class='box'>
        <a href='#' class='box-text'>Clogged bathroom drains</a>
      </div>
    </div>
    <div class='column column-units-3 column-last'>
      <div class='box'>
        <a href='#' class='box-text'>Toilet bowl leaking</a>
      </div>
    </div>
  </div>
  <div class='row prblm-row'>
    <div class='column column-units-3'>
      <div class='box'>
        <a href='#' class='box-text'>Water sepage in ceiling</a>
      </div>
    </div>
    <div class='column column-units-3'>
      <div class='box'>
        <a href='#' class='box-text'>Water pump issues</a>
      </div>
    </div>
    <div class='column column-units-3'>
      <div class='box'>
        <a href='#' class='box-text'>Water not coming</a>
      </div>
    </div>
    <div class='column column-units-3 column-last'>
      <div class='box'>
        <a href='#' class='box-text'>New bathroom connection</a>
      </div>
    </div>
  </div>
  <div class='row prblm-row'>
    <div class='column column-units-3'>
      <div class='box'>
        <a href='#' class='box-text'>New kitchen connection</a>
      </div>
    </div>
    <div class='column column-units-3'>
      <div class='box'>
        <a href='#' class='box-text'>Remove connections</a>
      </div>
    </div>
    <div class='column column-units-3'>
      <div class='box'>
        <a href='#' class='box-text'>Alterations</a>
      </div>
    </div>
    <div class='column column-units-3 column-last'>
      <div class='box'>
        <a href='#' class='box-text'>Installations</a>
      </div>
    </div>
  </div>
</div>
<div class='section'>
  <div class='row'>
    <div class='column column-units-4'>
      <span class='title-3'>Please describe your problem:</span>
      <textarea class='textarea'></textarea>
    </div>
  </div>
</div>
<div class='section'>
  <div class='row'>
    <input type='submit' value='Submit'>
  </div>
</div>
</form>
<%= render partial: "home_service/service_menu" %>
<hr>
