<form action='request_service'>
<div class='section'>
  <span class='title-3'>How can we help you?</span>
</div>
<div class='section'>
  <div class='row prblm-row'>
    <div class='column column-units-3'>
      <span class='button-toggle'>
        <input type='submit' class='button-input'>
        <span class='button-text'>My problem</span>
      </span>
    </div>
    <div class='column column-units-3'>
      <span class='button-toggle'>
        <input type='submit' class='button-input'>
        <span class='button-text'>My problem</span>
      </span>
    </div>
    <div class='column column-units-3'>
      <span class='button-toggle'>
        <input type='submit' class='button-input'>
        <span class='button-text'>My problem</span>
      </span>
    </div>
    <div class='column column-units-3 column-last'>
      <span class='button-toggle'>
        <input type='submit' class='button-input'>
        <span class='button-text'>My problem</span>
      </span>
    </div>
  </div>
  <div class='row prblm-row'>
    <div class='column column-units-3'>
      <span class='button-toggle'>
        <input type='submit' class='button-input'>
        <span class='button-text'>My problem</span>
      </span>
    </div>
    <div class='column column-units-3'>
      <span class='button-toggle'>
        <input type='submit' class='button-input'>
        <span class='button-text'>My problem</span>
      </span>
    </div>
    <div class='column column-units-3'>
      <span class='button-toggle'>
        <input type='submit' class='button-input'>
        <span class='button-text'>My problem</span>
      </span>
    </div>
    <div class='column column-units-3 column-last'>
      <span class='button-toggle'>
        <input type='submit' class='button-input'>
        <span class='button-text'>My problem</span>
      </span>
    </div>
  </div>
  <div class='row prblm-row'>
    <div class='column column-units-3'>
      <span class='button-toggle'>
        <input type='submit' class='button-input'>
        <span class='button-text'>My problem</span>
      </span>
    </div>
    <div class='column column-units-3'>
      <span class='button-toggle'>
        <input type='submit' class='button-input'>
        <span class='button-text'>My problem</span>
      </span>
    </div>
    <div class='column column-units-3'>
      <span class='button-toggle'>
        <input type='submit' class='button-input'>
        <span class='button-text'>My problem</span>
      </span>
    </div>
    <div class='column column-units-3 column-last'>
      <span class='button-toggle'>
        <input type='submit' class='button-input'>
        <span class='button-text'>My problem</span>
      </span>
    </div>
  </div>
</div>
<div class='section'>
  <div class='row'>
    <div class='column column-units-4'>
      <span class='title-3'>Please describe your problem:</span>
      <textarea class='textarea'></textarea>
    </div>
  </div>
</div>
<div class='section'>
  <input type='submit' value='Submit'>
</div>
</form>
<%= render partial: "home_service/service_menu" %>
<hr>
