<div class='section'>
  <div class='row search-menu'>
  <div class='column column-units-2'>
    <a href='/plmb' class='a'>Plumbing</a>
  </div>
  <div class='column column-units-2'>
    <a href='/elctrc' class='a'>Electrical</a>
  </div>
  <div class='column column-units-2'>
    <a href='/pst' class='a'>Pest control</a>
  </div>
  <div class='column column-units-2'>
    <a href='/cln' class='a'>Cleaning</a>
  </div>
  <div class='column column-units-2'>
    <a href='/arcnd' class='a'>Air condition</a>
  </div>
  <div class='column column-units-2 column-last'>
    <a href='/tvip' class='a'>TV / Internet</a>
  </div>
  </div>
</div>
