<div class='section'>
  <div class='row search-menu'>
    <div class='column column-units-8 column-last'>
      <form action='search-submit'>
        <input type='text' class='input-text' value='What is your problem?'>
        <input type='submit' class='input-button' value='Submit'>
      </form>
    </div>
  </div>
</div>
<div class='section'>
  <div class='row or'>
  <span>or</span>
  </div>
</div>
<%= render partial: "home_service/service_menu" %>
<hr>
<div class='section'>
  <span class='title-3'>How it works</span>
  <div class='section'>
    <div class='row'>
    <div class='column column-units-6'>
      <ol>
        <li>State your problem</li>
        <li>Our system identifies the service you require </li>
        <li>You will be assigned appropriate Homeneeds service representative</li>
      </ol>
    </div>
    <div class='column column-units-6 column-last'>
      <ol>
        <li>Choose our service from the available options</li>
        <li>Select a problem from the options provided</li>
        <li>Homeneeds service representative will contact you shortly </li>
      </ol>
    </div>
    </div>
  </div>
</div>
